<div class="row">
    <div class="col-sm-12">
        <div class="form-check" >
            <input type="checkbox" name="non-linear"
                   id="show-non-liner-checkbox"
                   value="{{=showNonLinear}}"
            >
            <label class="form-check-label" for="show-non-liner-checkbox">
                <strong>Set NON Linear</strong>
            </label>
        </div>
    </div>
    <div class="col-sm-12">
        <div ba-if="{{!!showNonLinear}}" class="form-group row">
            <label for="nonLinearOptions" class="col-sm-4 col-form-label">NON Linear Settings: </label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="nonLinearOptions"
                       value="{{=nonLinearOptions}}"
                />
                <p class="text-muted text-sm-left" style="margin: 0; font-size: 10px">
                    you can set only seconds as an integer or percentage, also optional with dimension.
                    When set dimension, it requires a VAST example that exists the same dimensions.
                </p>
                <p class="text-muted text-sm-left text-dark" style="margin: 0; font-size: 12px">
                    <strong>Examples</strong>
                </p>
                <p class="text-muted text-sm-left" style="margin: 0; font-size: 10px">
                    <i>"33[,250]" == 'Will start on 33 seconds height: 250px;</i>
                </p>
                <p class="text-muted text-sm-left" style="margin: 0; font-size: 10px">
                    <i>"50%[720,48]" == 'Show on 45 second with width: 720px and height: 48';</i>
                </p>
            </div>
        </div>
    </div>
</div>

