<div class="row">
    <div class="col-sm-12" ba-repeat="{{option :: options}}">
        <div class="form-check" >
            <input class="example-radio-types"
                   type="radio" name="exampleRadios"
                   id="{{option.id}}" value="{{option.value}}"
                   onchange="{{on_example_type_changed(domEvent)}}"
            >
            <label class="form-check-label" for="{{option.id}}">
                <strong>{{option.label}}</strong>
            </label>
        </div>
    </div>
</div>
